//以下为颜色区域
//主色调
.dominantHue {
  color: #1890FF;
}

//中性色
.neutralColour1B {
  color: #1B1B1B
}

.neutralColourAE {
  color: #AEAEAE
}

.neutralColour1D7 {
  color: #D7D7D7
}

.neutralColourE4 {
  color: #E4E4E4
}

.neutralColourF2 {
  color: #F2F2F2
}

//辅助色
.SubColor1F {
  color: #1FB16B;
}

.SubColorFF {
  color: #FF9D0B;
}

.SubColorFF5 {
  color: #FF5722;
}

.SubColor99 {
  color: #9966FF;
}

//以下为文字区域
//文字标题
.fontSize20 {
  color: #333;
  font-weight: bold;
  font-size: 20px;
  font-family: Arial;
}

.fontSize18 {
  color: #333;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial;
}

.fontSize16 {
  color: #333;
  font-weight: bold;
  font-size: 16px;
  font-family: Arial;
}

.fontSize14 {
  color: #666;
  font-weight: bold;
  font-size: 14px;
  font-family: Arial;
}

//正文
.textFontSize {
  color: #666;
  font-size: 14px;
  font-family: Arial;
}

//辅助文字
.assistText {
  color: #999;
  font-size: 12px;
  font-family: Arial;
}

//提示文字
.hintText {
  color: #ccc;
  font-size: 12px;
  font-family: Arial;
}

.linkText,
.errorText,
.warningText,
.succeesText {
  font-size: 14px;
  font-family: Arial;
}

//链接文字
.linkText {
  color: #409EFF;
}

//错误提示
.errorText {
  color: #F56C6C;
}

//警告提示
.warningText {
  color: #FF9900;
}

//成功提示
.succeesText {
  color: #19BE6B;
}


//按钮区域
//主要按钮,有圆角,大尺寸
.mainBtnH44,
.mainBtnH44NoBorder,
.mainBtnH60 {
  font-size: 16px;
  color: #ffffff;
  background: #1890FF;
  width: 300px;
}

.mainBtnH44 {
  height: 44px;
  border-radius: 4px;
}

//主要按钮,无圆角,大尺寸
.mainBtnH44NoBorder {
  height: 44px;
  border-radius: 0px;
}

//主要按钮，按钮描述文本,大尺寸
.mainBtnH60 {
  height: 60px;
  border-radius: 4px;
}

//hover时颜色
.mainBtnH44:hover,
.mainBtnH44:focus,
.mainBtnH44NoBorder:hover,
.mainBtnH44NoBorder:focus,
.mainBtnH60:hover,
.mainBtnH60:focus {
  background: #66B1FF;
}


//次要按钮
//共用样式
.minorBtnH44,
.minorBtnH44NoBorder,
.minorBtnH60 {
  font-size: 16px;
  color: #409EFF;
  background: #F0F7FF;
  border: 1px solid #7ABBFF;
  width: 300px;
}

//有圆角
.minorBtnH44 {
  height: 44px;
  border-radius: 4;
}

//无圆角
.minorBtnH44NoBorder {
  height: 44px;
  border-radius: 0px;
}

//次要按钮，按钮描述文本
.minorBtnH60 {
  height: 60px;
  border-radius: 4px;
}

.minorBtnH44:hover,
.minorBtnH44:focus,
.minorBtnH44NoBorder:hover,
.minorBtnH44NoBorder:focus,
.minorBtnH60:hover,
.minorBtnH60:focus {
  background-color: #409EFF;
  border: 1px solid #409EFF;
}


//主要按钮，小尺寸
.mainBtnH50,
.mainBtnH50NoBor,
.mainBtnH40,
.mainBtnH40NoBor,
.mainBtnH30,
.mainBtnH30NoBor {
  color: #ffffff;
  font-size: 16px;
  background-color: #1890FF;
  padding: 0 16px;
}

//有圆角
.mainBtnH50 {
  border-radius: 4px;
  height: 50px;
}

//无圆角
.mainBtnH50NoBor {
  border-radius: 0px;
  height: 50px;
}

//中型按钮
//高度40，有圆角
.mainBtnH40 {
  border-radius: 4px;
  height: 40px;
}

//高度40，无圆角
.mainBtnH40NoBor {
  border-radius: 0px;
  height: 40px;
}

//小型按钮
//高度30，无圆角
.mainBtnH30 {
  border-radius: 4px;
  height: 30px;
}

//高度30，无圆角
.mainBtnH30NoBor {
  border-radius: 0px;
  height: 30px;
}


//次要按钮,小尺寸
.minorBtnH50NoBor,
.minorBtnH50,
.minorBtnH40NoBor,
.minorBtnH40,
.minorBtnH30NoBor,
.minorBtnH30 {
  color: #409EFF;
  font-size: 16px;
  background: #F0F7FF;
  border: 1px solid #7ABBFF;
  padding: 0 16px;
}

//height50px
//无圆角
.minorBtnH50NoBor {
  height: 50px;
  border-radius: 0px;
}

//height50px
//有圆角
.minorBtnH50 {
  height: 50px;
  border-radius: 4px;
}

//height为40px
//无圆角
.minorBtnH40NoBor {
  border-radius: 0px;
  height: 40px;
}

//height为40px
//有圆角
.minorBtnH40 {
  border-radius: 4px;
  height: 40px;
}

//height为30px
//无圆角
.minorBtnH30NoBor {
  border-radius: 0px;
  height: 30px;
}

//height为30px
//有圆角
.minorBtnH30 {
  border-radius: 4px;
  height: 30px;
}

//次要按钮hover时共用样式
.minorBtnH50:hover,
.minorBtnH50:focus,
.minorBtnH50NoBor:hover,
.minorBtnH50NoBor:focus,
.minorBtnH40:hover,
.minorBtnH40:focus,
.minorBtnH40NoBor:hover,
.minorBtnH40NoBor:focus,
.minorBtnH30:hover,
.minorBtnH30:focus,
.minorBtnH30NoBor:hover,
.minorBtnH30NoBor:focus {
  background: #409EFF;
  border: 1px solid #409EFF;
  color: #ffffff;
}


//组合按钮
.mainAction,
.assistAction,
.cancelBtn {
  font-size: 16px;
  border-radius: 4px;
  height: 30px;
  padding: 0 16px;
}

//主要操作和确定按钮共用
.mainAction {
  color: #ffffff;
  background: #1890FF;
  margin-right: 20px;
}

//辅助操作按钮
.assistAction {
  color: #1890FF;
  background-color: #ffffff;
  border: 1px solid #1890FF;
}

//取消按钮
.cancelBtn {
  color: #999999;
  background-color: #ffffff;
  border: 1px solid #E4E4E4;
}

.cancelBtn:hover,
.cancelBtn:focus {
  background: #F0F7FF;
  border: 1px solid #7ABBFF;
  color: #409EFF;
}
